server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/employeedb
    username: postgres
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "ReplaceThisWithAStrongSecretChangeInProductionReplaceThisWithAStrongSecret"
  expiration-ms: 3600000 # 1 hour in ms

logging:
  level:
    org:
      springframework:
        security: INFO
